@import url('//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text');

$theme: (
    'backgroundColor': #151522,
    'mainColor': #ffc22f,
    'primaryColor': #e0e0e0,
    'boxBg': #333333,
    'textColor': #999999,
);

// $textColor: map-get($theme, 'textColor');
$mainColor: #ffc22f;
$primaryColor: #e0e0e0;
$boxBg: #333333;
$textColor: #999999;

@font-face {
    font-family: 'SF Pro Text';
    src: url('//db.onlinewebfonts.com/t/236987803794b916d95e7fd41ed4fee0.eot');
    src: url('//db.onlinewebfonts.com/t/236987803794b916d95e7fd41ed4fee0.eot?#iefix')
            format('embedded-opentype'),
        url('//db.onlinewebfonts.com/t/236987803794b916d95e7fd41ed4fee0.woff2')
            format('woff2'),
        url('//db.onlinewebfonts.com/t/236987803794b916d95e7fd41ed4fee0.woff')
            format('woff'),
        url('//db.onlinewebfonts.com/t/236987803794b916d95e7fd41ed4fee0.ttf')
            format('truetype'),
        url('//db.onlinewebfonts.com/t/236987803794b916d95e7fd41ed4fee0.svg#SF Pro Text')
            format('svg');
}

@font-face {
    font-family: 'SF Pro Text';

    src: url('//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot');
    src: url('//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot?#iefix')
            format('embedded-opentype'),
        url('//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff2')
            format('woff2'),
        url('//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff')
            format('woff'),
        url('//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.ttf')
            format('truetype'),
        url('//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.svg#SF Pro Text')
            format('svg');
    font-weight: unset;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: map-get($theme, 'backgroundColor');
    padding: 32px 0;
    font-family: 'SF Pro Text';
    padding: 32px 28px;
}

@mixin box {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border-color: transparent;
}

//Input ant
.ant-input-affix-wrapper > input.ant-input,
.anticon svg {
    background-color: transparent;
    color: $textColor;
}

.ant-form-item-has-error .ant-form-item-explain,
.ant-form-item-has-error .ant-form-item-split {
    font-size: 13px;
}

.ant-upload {
    background-color: $boxBg;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.ant-upload.ant-upload-select-picture-card {
    border-color: transparent;
    border: none;
}
